.container-fluid a img{
    width: 270px;
}

.section-part-01{
    margin-top: 60px;
    margin-bottom: 50px;
}
.navbar-nav .li4{
    width: 100px;
}
.navbar-nav li a{
    color: #fa804c ;
}
.header-diteils h1{
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    letter-spacing: -2px;

}
.header-diteils h1 span{
   
    color: #fa804c;
}

.card img{
    border-radius: 10%;
   background-color: #F1F1F1;
    
}

.price h1{
    color:#fa804c ;
}
.container h1{
    font-family: 'Oswald', sans-serif;
}
.col{
    border-radius: 20%;
}