.container-fluid a img{
    width: 270px;
}
.navbar-nav .li4{
    width: 100px;
}
.header-diteils h1{
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    letter-spacing: -2px;

}
.header-diteils h1 span{
   
    color: #fa804c;
}

.card img{
    border: 2px solid red;
    border-radius: 10%;
   
   
    
   
}